@model IEnumerable<ProyectoTrabajos.Models.ofertas>
@{
    
    ViewData["Title"] = "Index";
}


<form>
    <body style="background-color:#4b4c81">

        <div class="shadow p-2 rounded mt-5" style="background-color:#cfcede ">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.area)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cargo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.experiencia)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cargo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.experiencia)
                            </td>
                            <td>
                                |
                                <a asp-action="Details" asp-route-id="@item.ofertaID">Detalles</a> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </body>
</form>